<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - Eng Tasks</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
</head>
<body>
    <div class="container">
        <%- include('../partials/header') %>
        <%- body %>
        <%- include('../partials/footer') %>
    </div>


    <script src="/js/api.js"></script>
    <script src="/js/websocket.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
